.elementor-4476 .elementor-element.elementor-element-536570e3:not(.elementor-motion-effects-element-type-background),
.elementor-4476 .elementor-element.elementor-element-536570e3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-text)
}

.elementor-4476 .elementor-element.elementor-element-536570e3,
.elementor-4476 .elementor-element.elementor-element-536570e3>.elementor-background-overlay {
    border-radius: 12px 12px 12px 12px
}

.elementor-4476 .elementor-element.elementor-element-536570e3 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 30px 0 30px 20px
}

.elementor-4476 .elementor-element.elementor-element-536570e3>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-4476 .elementor-element.elementor-element-65b24a1>.elementor-container {
    max-width: 800px
}

.elementor-4476 .elementor-element.elementor-element-bf80d56:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4476 .elementor-element.elementor-element-bf80d56>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-text)
}

.elementor-4476 .elementor-element.elementor-element-bf80d56>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 20px 0 0 10px
}

.elementor-4476 .elementor-element.elementor-element-bf80d56>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-4476 .elementor-element.elementor-element-1d07758 {
    text-align: left
}

.elementor-4476 .elementor-element.elementor-element-1d07758 .elementor-heading-title {
    color: var( --e-global-color-secondary);
    font-weight: 600
}

.elementor-4476 .elementor-element.elementor-element-ee25109:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4476 .elementor-element.elementor-element-ee25109>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-text)
}

.elementor-4476 .elementor-element.elementor-element-ee25109>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 20px 10px 0 0
}

.elementor-4476 .elementor-element.elementor-element-ee25109>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-4476 .elementor-element.elementor-element-697e373 {
    text-align: right
}

.elementor-4476 .elementor-element.elementor-element-697e373 .elementor-heading-title {
    color: var( --e-global-color-secondary)
}

.elementor-4476 .elementor-element.elementor-element-e29d6ec>.elementor-container {
    max-width: 800px
}

.elementor-4476 .elementor-element.elementor-element-13b3dd3:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-4476 .elementor-element.elementor-element-13b3dd3>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-text)
}

.elementor-4476 .elementor-element.elementor-element-13b3dd3>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-4476 .elementor-element.elementor-element-13b3dd3>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-4476 .elementor-element.elementor-element-697c613 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px
}

.elementor-4476 .elementor-element.elementor-element-697c613 .elementor-divider-separator {
    width: 100%
}

.elementor-4476 .elementor-element.elementor-element-697c613 .elementor-divider {
    padding-top: 15px;
    padding-bottom: 15px
}

.elementor-4476 .elementor-element.elementor-element-cb38f96 {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-cb38f96 .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-cb38f96>.elementor-widget-container {
    margin: 0 0 5px
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-ca97d4d>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-ce63679 {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-ce63679 .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-ce63679>.elementor-widget-container {
    margin: 10px 0 5px
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5 .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-ac7ecb5>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-06020ec {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-06020ec .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-06020ec>.elementor-widget-container {
    margin: 10px 50px 5px
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-6f21602 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-6f21602 .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-6f21602>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-2d61967 {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-2d61967 .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-2d61967>.elementor-widget-container {
    margin: 10px 0 5px
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-732a91b {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-732a91b .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-732a91b>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-cdfe597 {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-cdfe597 .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-cdfe597>.elementor-widget-container {
    margin: 10px 0 5px
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-699447a {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-699447a .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-699447a>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-f0da94a {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-f0da94a .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-f0da94a>.elementor-widget-container {
    margin: 10px 0 5px
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(0px/2);
    margin-left: calc(0px/2)
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-0px/2);
    margin-left: calc(-0px/2)
}

body.rtl .elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-0px/2)
}

body:not(.rtl) .elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-0px/2)
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-4476 .elementor-element.elementor-element-b866224 {
    --e-icon-list-icon-size: 20px;
    --icon-vertical-offset: 0px
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-item>a {
    font-weight: 400
}

.elementor-4476 .elementor-element.elementor-element-b866224 .elementor-icon-list-text {
    transition: color .3s
}

.elementor-4476 .elementor-element.elementor-element-b866224>.elementor-widget-container {
    padding: 0 0 0 30px
}

.elementor-4476 .elementor-element.elementor-element-8de5f14 {
    text-align: center
}

.elementor-4476 .elementor-element.elementor-element-8de5f14 .elementor-heading-title {
    font-weight: 500
}

.elementor-4476 .elementor-element.elementor-element-8de5f14>.elementor-widget-container {
    margin: 10px 0 5px
}

@media(max-width:767px) {
    .elementor-4476 .elementor-element.elementor-element-536570e3 {
        padding: 0 20px 20px
    }
}